DB_HOST=
DB_PORT=
DB_USER=
DB_PASS=
DB_NAME=
JWT_SECRET=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
MOMO_NOTIFY_URL=

# MoMo Sandbox credentials
MOMO_PARTNER_CODE=
MOMO_ACCESS_KEY=
MOMO_SECRET_KEY=
MOMO_ENDPOINT=
MOMO_REDIRECT_URL=
MOMO_REQUEST_TYPE=captureWallet

# VNPAY Sandbox
VNPAY_TMN_CODE=
VNPAY_HASH_SECRET=
VNPAY_PAYMENT_URL=https://sandbox.vnpayment.vn/paymentv2/vpcpay.html
VNPAY_RETURN_URL=http://localhost:5173/checkout/vnpay-return
VNPAY_IPN_URL=https://your-ngrok-domain.ngrok-free.app/checkout/vnpay-ipn
VNPAY_VERSION=2.1.0
VNPAY_COMMAND=pay
VNPAY_CURR_CODE=VND
VNPAY_LOCALE=vn
VNPAY_ORDER_TYPE=other

# Google Cloud Storage for lesson videos
GCP_PROJECT_ID=
GCS_BUCKET_NAME=
GCS_PRIVATE_KEY_JSON=
